{% extends "layout.htm" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Ut justo lectus, iaculis eu urna ut, auctor laoreet nunc. 
Ut lobortis rutrum lacus id faucibus. Quisque in purus orci. 
Proin aliquam dui in semper cursus. 
Morbi consequat, est pretium sollicitudin laoreet, mi neque feugiat nunc, sed tincidunt neque sem id mauris. 
In sollicitudin vehicula efficitur. Donec tincidunt tortor interdum libero sollicitudin gravida. 
Proin eget rutrum leo, non bibendum nisl. Mauris non enim sit amet nisi ornare imperdiet.
</p>

{% endblock body %}